<div role="list" id="list-Post">
	{{- range .Data.Pages.GroupByDate "2006" }}
	<div role="listitem" class="list-year nopadding" aria-labelledby="{{ .Key }}">
		<h3 id="{{ .Key }}" >{{ .Key }}</h3>
		<div role="list">
			{{- range .Pages.GroupByDate "January" }}
			<div role="listitem" aria-labelledby="{{ .Key }}">
			<details open aria-expanded="true" class="list-month">
			<summary id="{{ .Key }}">{{ .Key }} ({{ len .Pages }})</summary>
				{{- with .Pages }}
				<ul class="unmark list-day" role="presentation">
					{{- range . }}
					<li><span class="list-item">{{ .Date.Format ( i18n "date_list" ) }}</span>
						<a class="plain" href="{{ .RelPermalink }}">{{.Title}}</a></li>
					{{- end }}
				</ul>
				{{- end }}
			</details>
			</div>
			{{- end }}
		</div>
	</div>
	{{- end }}
</div>