{{- $legibility := resources.Get "js/legibility.js" }}
{{- $bionread := resources.Get "js/bionread.js" -}}
{{- $color := resources.Get "js/override-color.js" -}}
{{- $font := resources.Get "js/override-fonts.js" -}}
{{- $a11y := slice $legibility $bionread $color $font | resources.Concat "js/a11y.js" | resources.Fingerprint "sha384" }}
<script defer src="{{ $a11y.Permalink }}" integrity="{{ $a11y.Data.Integrity }}" crossorigin="anonymous"></script>

{{- with site.Params.Initial }}
	{{- with .FontScale }}
		<script>fontSizeRange.value = {{ . }} * 10;</script>
	{{- end }}
	{{- with .BaselineStretch }}
		<script>baselineStretchRange.value = {{ . }} * 10;</script>
	{{- end }}
{{- end }}

<script>
	function copyURL() {
		navigator.clipboard.writeText(window.location.href);
		alert('{{ i18n "copied" }}');
	};
</script>