<hr class="none" style="border-style:dotted;">
<div id="about">
{{- with .Site.Params.Author }}
	<aside>
		<center style="padding: 1rem 0;">
		{{- if .Avatar }}
			<img src="{{ .Avatar }}"
				class="rounded"
				title="{{ .Name }}"
				>
		{{- else }}
			<i id="authoricon"
				class="icon captain"
				role="img"
				aria-label="{{ .Name }}"
				></i>
		{{- end }}
		</center>
	</aside>
	<section style="padding-bottom:0" aria-labelledby="authorid">
		<center>
			<h2 id="authorid"
				class="Large nomargin">
				{{ i18n "about" }} {{ .Name }}
			</h2>
			<p class="small"
				data-bionRead-safe>
				{{ .Bio | safeHTML }}
			</p>
{{- end }}
			<nav>
				<ul id="social" 
					class="unmark smallskip" 
					role="presentation"
					>
					{{- range .Site.Menus.author }}
					<li><a href="{{ .URL }}"
							class="no-underline ssc inverse" 
							{{- if .Title }}
								aria-label="{{ .Title }}"
								title="{{ .Title }}"
							{{ end }}
							>
							{{- .Pre }} 
							{{- .Name }} 
							{{- if .Post }} {{ .Post }}
							{{- else }}
								<span class="hide"
									role="presentation">
									{{- .Title -}}
								</span>
							{{ end -}}
						</a>
					</li>
					{{- end }}
				{{- with .Site.Params.Author.Email }}
				<li><a href="mailto:{{ . }}"
						class="no-underline ssc inverse" 
						aria-label="email"
						title="email"
						>
						<i class="icon email"></i>
						<span class="hide"
							role="presentation">
							{{- . -}}
						</span>
					</a>
				</li>
				{{- end }}
				</ul>
			</nav>
		</center>
	</section>
</div>
<hr class="none"
	style="border-style:dotted;">