{{- with .Site.Menus.side }}
<details class="unmark" id="sidebar">
<summary title="{{ i18n "otherLink" }}">☰</summary>
<div id="sidepanel">
	<div class="tabhead sf ssc" id="otherlink">
		<i class="scriptsize icon link" style="padding-right: 1ex;"></i>
		{{ i18n "otherLink" }}
		<button id="close-sidebar" onclick="closeSidebar()" aria-label="{{ i18n "close" }}">&#10006;</button>
	</div>
	<nav aria-labelledby="otherlink">
		<ul class="unmark ssc sf">
			{{- range . }}
			<li><a href="{{ .URL }}" class="plain {{ .Params.class }}"
				{{- if .Title }} aria-label="{{ .Title }}" title="{{ .Title }}" {{ end }}>
				{{- .Pre }}{{ .Name }}{{ .Post -}}
				</a>
			</li>
			{{- end }}
		</ul>
	</nav>
</div>
</details>
{{- end }}
