<details class="unmark" id="toolbar" aria-labelledby="a11y" aria-haspopup="true" aria-expanded="false" onclick="setAriaExpanded()">
	<summary id="a11y" aria-label="{{ i18n "legibility" }}" title="{{ i18n "legibility" }}">
		<i class="icon accessible"></i><span class="ssc sf scriptsize ifwide">{{ i18n "legibility" }}</span>
	</summary>
	<div id="a11ypanel" class="ssc sf">
		<div class="tabhead">
			<i class="icon accessible" style="margin-right: 1ex;"></i>
			<span>{{ i18n "legibility" }} <noscript> - {{ i18n "noScript" }}</noscript></span>
			<button id="close-toolbar" onclick="closeToolbar()" aria-label="{{ i18n "close" }}">&#10006;</button>
		</div>
		<fieldset>
			<legend class="ssc">{{ i18n "typeface" }}</legend>
			<div>
				<input type="checkbox" id="bionReadSwitch" aria-label="{{ i18n "bionRead" }}" disabled>
				<label for="bionReadSwitch"><span class="icon" id="bionReadState">🛟</span> <b>Bion</b>Read</label>
			</div>
			<div>
				<input type="checkbox" id="fontSwitch" aria-label="{{ i18n "openDyslexic" }}" disabled>
				<label for="fontSwitch"><span class="icon" id="fontState"></span> OpenDyslexic</label>
			</div>
			<div aria-label="Override Font Size" aria-orientation="horizontal" class="centering scriptsize smallskip">
				<label for="fontSizeRange" class="centering">{{ i18n "fontScaling" }}</label><br>
				<span style="font-variant-caps: small-caps;">aA</span>
				<input type="range" min="8" max="12" id="fontSizeRange" role="slider" aria-orientation="horizontal" disabled>
				<span><span id="fontSizeState">100</span>%</button>
			</div>
			<div aria-label="Override Font Size" aria-orientation="horizontal" class="centering scriptsize">
				<label for="baselineStretchRange" class="centering">{{ i18n "baselineStretch" }}</label><br>
				<span style="font-variant-caps: small-caps;">☰</span>
				<input type="range" min="8" max="12" id="baselineStretchRange" role="slider" aria-orientation="horizontal" disabled>
				<span><span id="baselineStretchState">100</span>%</button>
			</div>
		</fieldset>
		<fieldset>
			<legend class="ssc">{{ i18n "color" }}</legend>
			<div>
				<input type="checkbox" id="lightSwitch" aria-label="{{ i18n "darkMode" }}" disabled>
				<label for="lightSwitch"><span class="icon" id="lightState">☀</span> {{ i18n "darkMode" }}</label>
			</div>
			<div aria-label="Override Contrast" aria-orientation="horizontal" class="centering scriptsize">
				<div class="centering" id="contrastState">{{ i18n "contrast" }}</div>
				<label for="lessContrast" class="fade">{{ i18n "less" }}</label>
				<input type="radio" id="lessContrast" name="contrast" value="less" onclick="setContrast()" disabled>
				<input type="radio" id="defaultContrast" name="contrast" value="default" onclick="setContrast()">
				<label for="defaultContrast" class="hide">{{ i18n "default" }}</label>
				<input type="radio" id="moreContrast" name="contrast" value="more" onclick="setContrast()" disabled>
				<label for="moreContrast" style="-webkit-text-stroke: 0.02rem var(--deep);">{{ i18n "more" }}</label>
			</div>
		</fieldset>
	</div>
</details>