{{- define "head" }}
{{- $listSty := resources.Get "css/ethd--go-list.css" -}}
{{- $listMin := $listSty | resources.Minify }}
<link rel="stylesheet" type="text/css" href="{{ $listMin.Permalink }}">
{{- end }}

{{- define "main" }}
{{- $term := eq .Kind "term" }}
{{- $key := index ( split .Permalink "/" ) ( sub ( len ( split .Permalink "/" ) ) 3 ) }}
<h1>
	{{- if .IsSection }}{{ i18n "archive" }}
	{{- else if $term }}
		{{- if eq $key "tags" }}#
		{{- else }}> 
		{{- end -}}
		{{ .LinkTitle }}
	{{- end }}
</h1>
<aside
	{{- if $term }} class="ifwide" 
	{{- end -}}>
	<section>
		<h2 class="rm ssc normalfont Large">
			{{ i18n "category" }}
		</h2>
		{{- partial "tms/categories.html" . }}
	</section>
	<section>
		<h2 class="rm ssc normalfont Large">
			{{ i18n "tag" }}
		</h2>
		{{- partial "tms/tags.html" . }}
	</section>
</aside>
<section id="list-posts">
	<h2 class="rm ssc normalfont Large">
		{{ i18n "post" }}
	</h2>
	{{ partial "tms/posts.html" . -}}
</section>
<hr class="hide" style="border-style:dotted;">
{{- end }}