:root {
	/* Color paletes inspired by Shikiori ink series */
	--y6a: #af7c9d;
	--w8u: #628618;
	--s8i: #ed7495;
	--n8e: #6c80b3;
	--m4i: #355240;
	--y4i: #921823;
	--f8a: #7972b6;
	--s4n: #018ace;
	--d3u: #654b3c;
	--r6a: #534b1a;
	--y4a: #13355b;
	--k8i: #ee850f;
	--y6i: #00728c;
	--o5a: #8d2f4a;
	--c3u: #5b516a;
	--s5o: #365b75;
	--s5e: #493280;
	--y7i: #00b1dd;
	--i3i: #e9142a;
	--t9u: #014d1f;
}
/* general */
main {
	min-height: calc(100vh - 5.656rem);
}
#content {
	min-height: 33vh;
}
p + h6 { /* if H6 not under new section tag */
	top: -0.13ex;
}
details.unmark summary::marker,
details.unmark summary::-webkit-details-marker,
#TableOfContents li::marker,
#TableOfContents a::before,
.footnotes a::before {
	content: '' !important;
	display: none !important;
}
details[open] > summary::marker,
details > summary::marker {
	font-size: 0.88em;
}
details.unmark summary,
ul.delimeter,
ul.unmark,
ul.breadcrumb {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: inherit;
}
ul.delimeter,
ul.delimeter li,
ul.unmark li,
ul.breadcrumb li {
	display: inline;
}
ul.delimeter li:after {
	content: ', ';
}
ul.delimeter li:last-child:after {
	content: '.';
}
ul.delimeter li:first-child:before {
	content: ' ';
}
#navbar,
#pinnednav,
#a11y,
#paginator,
#mainfooter div > .small,
#list-tags,
div > time,
.feed aside,
.breadcrumb,
.tag,
.sfssc {
	font-family: var(--sf), sans-serif;
	font-variant: small-caps;
	word-spacing: 16%;
	font-variant-caps: all-small-caps;
	letter-spacing: 0.16em;
}
/* mainfooter */
#mainfooter {
	display: block;
	position: relative;
	padding: 1rem 1ex !important;
	margin-top: 7rem;
	border-top: 1px solid var(--ink);
	column-gap: 2rem;
}
#mainfooter,
.feed.grid {
	-moz-column-width: 18rem;
	-webkit-column-width: 18rem;	
	column-width: 18rem;
	column-fill: balance;
}
#mainfooter p {
	font-size: 1.144rem;
}
/* sticky bar */
#navbar,
footer#bar {
	display: flex;
	position: sticky;
	background: inherit;
	padding: 0;
	z-index: 99;
}
#navbar {
	top: 0;
	justify-content: space-between;
	border-bottom: 1px solid var(--ink);
	align-items: center;
}
footer#bar {
	bottom: 0;
	justify-content: center;
	align-items: baseline;
	flex-direction: row-reverse;
	border-top: 1px solid var(--ink);
}
/* the strut */
footer#bar,
#navbar,
#pinnednav .fx,
#dd summary,
.strut {
	min-height: 2.8rem;
	max-height: 2.8rem;
	box-sizing: border-box;
}
.fx {
	display: flex;
	overflow-y: hidden;
}
/* navigation */
nav .icon + span {
	margin-left: 0.5ex;
}	
/* toplevel */
#navbar > ul {
	flex-grow: 1;
	justify-content: space-between;
}
/* drop down menu */
#dd {
	position: relative;
}
#dd > * {
	display: flex;
	flex-direction: column;
}
#dd ul {
	position: absolute;
	justify-content: flex-start;
	align-items: flex-end;
	gap: 1ex;
	width: 240px;
	max-height: calc(100vh - 5.6rem - 2rem);
	top: 2.8rem;
	left: calc(-240px + 2.8rem);
	border-right: 1px solid var(--ink);
}
#dd li {
	padding-right: 1ex;
	border-bottom: 1px solid var(--ink);
}
#dd a {
	position: relative;
	top: 1.414rem;
	max-width: 78vw;
	text-overflow: ellipsis;
	overflow-x: clip;
	white-space: nowrap;
}
/* menu-button */
#dd summary {
	width: 2.8rem;
	position: relative;
	align-items: center;
}
.cb,
.cb::before,
.mb,
.mb::before,
.mb::after {
	display: block;
	height: 0.2rem;
	width: 1.2rem;
	border-radius: 0.1rem;
}
.mb,
.mb::before,
.mb::after {
	background-color: var(--ink);
	position: absolute;
	margin-top: 1.3rem;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.cb,
.cb::before {
	background-color: var(--paper);
	transform: rotate(45deg);
	transform-origin: center;
}
.cb:hover,
.cb:hover::before {
	background-color: red;
}
.cb::before {
	content: '';
	transform: rotate(90deg);
}
.mb::before {
	content: '';
	margin-top: -0.4rem;
	}
.mb::after {
	content: '';
	margin-top: 0.4rem;
	}
details[open] .mb {
	background: rgba(255, 255, 255, 0);
}
details[open] .mb::before {
	margin-top: 0px;
	transform: rotate(405deg);
}
details[open] .mb::after {
	margin-top: 0px;
	transform: rotate(-405deg);
}
/* breadcrumb */
#copyURL {
	float: right;
}
#copyURL + nav {
	margin-top: 1rem;
	font-size: 1.272rem;
}
.breadcrumb li:last-child > a {
	pointer-events: none;
}
.breadcrumb li+li:before {
	padding: 0.1em;
	font-size: 0.8em;
	color: var(--mid);
	content: "\00a0/\00a0";
}
/* footer */
footer.clear .ifwide {
	display: block;
}
#footinfo {
	max-width: 50%;
}
#bar > * {
	align-self: center;
}
#jump-to {
	padding-left: 1rem;
	padding-right: 1rem;
}
/* legibility */
#a11y {
	position: relative;
}
#a11y > summary {
	max-height: 2.8rem;
	/* padding: calc(0.828rem - 1px); */
	padding: 0.5rem;
	border-radius: 0.3rem;
	font-size: 1.144rem;
	color: var(--link);
}
#a11y[open] > summary,
#a11y > summary:focus,
#a11y > summary:hover {
	background-color: #ff0;
	color: #36c;
}
#panelA11y {
	position: absolute;
	top: calc(-8px - 2ex - 32.4rem);
	width: 23rem;
	background-color: var(--paper);
	overflow-y: auto;
	line-height: 1;
}
#tabhead {
	height: 2rem;
	width: 100%;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
}
#enabled,
#tabhead .icon {
	margin: 0;
	padding: 0.25rem;
}
#tabhead + fieldset {
	margin-top: 2rem !important;
}
#close {
	height: 1.8rem;
	width: 1.8rem;
	margin-left: auto;
	padding-left: 0.3rem;
}
#close:focus,
#close:hover {
	background: unset;
	border: none;
	outline: none;
}
#a11y fieldset {
	/* 2.4rem + 2px x 2 = 4.8rem + 4px*/
	border: 1px solid var(--ink);
	margin: 0.6rem;
	padding: 0.6rem;
}
#a11y legend {
	/* 1.6rem x 2 = 3.2rem */
	padding: 0.3em 0.5em;
	color: var(--paper);
	background-color: var(--ink);
}
#a11y fieldset div {
	/* 2.4rem x 6 = 14.4rem */
	padding-top: 0.4em;
	text-align: center;
	margin: 0.5rem 0;
}
#a11y div.sw {
	text-align: unset;
}
#a11y fieldset input[type=checkbox],
#panelA11y > fieldset button {
	float: right;
	clear: right;
}
#baselineStretch,
#fontSize {
	/* 2rem x 2 = 4rem */
	height: 2rem;
	margin: 0;
	width: 61%;
	vertical-align: middle;
}
#contrastState {
	display: block;
}
#contrast {
	/* 1ex */
	display: inline-flex;
	margin-top: 1ex;
}
#contrast input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
#contrast label {
	/* 2px + 2rem */
	border: 1px solid var(--ink);
	padding: 0.5rem;
	width: 4.8rem;
	display: inline-block;
}
#contrast input:checked + label {
	background-color:var(--ink);
	color: var(--paper);
}
#contrast label:first-of-type {
	border-radius: 1ex 0 0 1ex;
}
#contrast label:nth-of-type(2) {
	border-width: 1px 0;
}
#contrast label:last-of-type {
	border-radius: 0 1ex 1ex 0;
}
/* feed */
.fading {
	mask-image: linear-gradient(black 50%, transparent 100%);
	-webkit-mask-image: linear-gradient(black 50%, transparent 100%);
}
.span-all,
#feed,
#headline {
	column-span: all;
}
/* author.html */
#about {
	margin: 1rem 0;
	padding: 1rem;
	border-width: 0 0 5pt;
}
img.rounded {
	object-fit: cover;
	border-radius: 50%;
	height: 150px;
	width: 150px;
	margin: auto;
}
#authoricon {
	font-size: 150px;
}
#social {
	font-size: 1.272rem;
	line-height: 1;
}
/* single.html */
#TableOfContents > ul {
	padding: 0 1rem;
}
#copyURL + nav a:link,
.footnote-ref:link,
#TableOfContents a:link {
	text-decoration: none !important;
}
#toc {
	margin-top: 2.828rem;
}
table.lntable {
	border: unset;
}
.katex-display,
.MathJax,
.mermaid {
	min-width: 62%;
	max-width: 100%;
	overflow-x: auto;
	padding-bottom: 1ex;
	margin-top: 1ex;
	border-radius: 0.8rem;
}
.footnotes * {
	font-size: 1.144rem;
}
.footnote-ref:link {
	font-size: 1rem;
}
.footnote-ref:link::before {
	content: '[';
	font-size: 1rem;
}
.footnote-ref:link::after {
	content: ']';
}
.footnotes ol {
	margin-top: 0;
	padding: 0;
}
.footnotes li::marker {
	font-variant-position: super;
}
.footnotes > hr {
	width: 16.18rem;
	margin: 3rem 0 0;
	border-top: 1px solid;	
}
.bottomline {
	display: flex !important;
	border-bottom: 1px solid var(--ink);
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: wrap;
	padding: 0;
	margin: 1.414rem 0;
}
a.bottomline:hover {
	background: var(--ink);
	color: var(--paper) !important;
	text-decoration: none !important;
	text-shadow: none !important;
}
.bottomline > .ldots {
	width: 62%;
	max-width: 62%;
}
audio > center > div {
	width: 80%;
	padding: 1rem;
	margin: 1rem;
	border: 1px solid var(--ink);
	background-color: #ff0;
	color: var(--ink);
}
/* task */
ul.task,
ul.task > ul,
.task + ul {
	list-style: none;
	padding: 0;
}
ul.task input {
	margin-right: 0.5rem;
}
.task input[type=checkbox]:checked + label {
	text-decoration: line-through;
}
li:has(input) {
	margin-left: -2rem;
}
li:has(input)::marker {
	/* no firefox support */
	content: none !important;
	visibility: hidden;
	opacity: 0;
}
.task + ul > li:has(input[type=checkbox]:checked) {
	/* no firefox support */
	text-decoration: line-through;
}
@media print {
	img.rounded {
		height: 20vmin !important;
		width: 20vmin !important;
	}
	.footnote-backref:link,
	.bottomline,
	#share-to {
		display: none !important;
	}
	#about {
		border-top: 1px dotted black;
	}
	.footnote-ref:link::after,
	.footnote-backref:link::after,
	#article-tags > a:link::after {
		content: unset;
	}
	.footnotes ol {
		padding-left: 2rem;
	}
}
@media only screen and (max-width: 640px) {
	#footinfo {
		max-width: 33%;
	}	
}
@media screen and (prefers-contrast: less),
screen and (prefers-color-scheme: dark) {
	.mermaid {
		background-color: var(--mid);
	}
}