.feed article {
	margin: 1rem 0;
}
#headline > a {
	display: inherit;
	flex-wrap: wrap;
	justify-content: space-between;
}
#headline-text {
	flex-basis: 34%;
}
#headline img {
	flex-basis: 65%;
	height: 21rem;
	object-fit: cover;
}
.feeditem#headline img {
	width: 100%;
}
.griditem#headline .tag {
	display: none;
}
.griditem > a.inverse {
	padding: 0.46rem 0;
}
.griditem > a.inverse:hover {
	padding: 0.46rem;
}
.feed h3 {
	margin: 0;
}
.feed.grid article {
	padding: 1rem;
	margin: 0 0 1rem;
}
.feed.grid article > a:focus {
	padding: 1ex 1ex 0;
}
.feeditem {
	display: flow-root;
}
.feeditem aside {
	width: 28%;
}
.feeditem section > p {
	width: 67%;
}
.griditem h3 {
	font-size: 1.618rem;
}
.griditem p {
	width: auto;
	font-size: 1rem;
}
.no-cover article {
	/* tbd */
}
.featured-img {
	height: 11rem;
	margin: 1rem 1rem 0 0;
	float: left;
	border: 1pt solid #777;
	object-fit: cover;
}
.featured-img .flowlines {
	filter: contrast(10);
	object-fit: none;
}
.featured-img:hover {
	filter: brightness(0.8)	contrast(0.8);
	opacity: 0.8;
}
.griditem .featured-img {
	height: 14rem;
	margin: 0;
	float: unset;
	width: min-content;
}
#split .griditem .featured-img {
	width: 100%;
}
.pagination {
	margin-top:auto;
	padding: 1rem 0;
	margin-bottom: 3rem;
}
.pagination .lfill {
	float: right;
}
.pagination .rfill {
	display: inline-block;
}
.nosum {
	line-height:1.4;
	bottom:-2.8em;
}
.nosum,
.addhover {
	position:relative;
}
.addhover:before {
	content: attr(data-hover);
	visibility: hidden;
	opacity: 0;
	width: 6.18rem;
	max-width: 16.18rem;
	background-color: var(--ink);
	color: var(--paper);
	text-align: center;
	align-content: baseline;
	padding: 0.46em 0.618em;
	position: absolute;
	z-index: 2;
	right: 1rem;
}
.addhover:focus:before,
.addhover:hover:before {
	opacity: 1;
	visibility: visible;
}
article.addhover {
	display: flex;
	flex-direction: column-reverse;
}
.tag {
	font-size: 1rem;
}
.tag * {
	padding: 0.46em 0;
	display: inline-block;
}
.tag time::before {
	content: '—';
}
@media only screen and (max-width: 640px) {
	.feed.grid article {
		border: 0;
	}
	.feeditem section > p {
		width: unset;
	}
	.tag {
		font-size: 1.272rem;
	}
	#headline > a {
		display: block;
	}
}
@media only screen and (min-width: 640px) and (max-width: 1024px) {
	#headline-text p {
		display: none;
	}
}