.highlight > pre:not(.chroma) {
	background-color: unset !important;
	color: inherit !important;
}
.highlight > pre.chroma {
	margin-left: 2rem;
}
pre > code {
	padding: 1ex 0;
	background-color: var(--shd);
}
.lntd:first-child * {
	background-color: unset !important;
}
.lntd:first-child .hl {
	font-weight: bold;
}
td.lntd:first-child code.hljs {
	display: none;
}
.hljs-ln-numbers,
.lntd:first-child pre > code,
.chroma .lnt {/* LineNumbersTable */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: var(--n8e);
	vertical-align: top;
	min-width: 2rem;
	max-width: 2rem;
	overflow: hidden;
}
.chroma .lntd { /* LineTableTD */
	vertical-align: top;
}
.chroma .lntable {/* LineTable */
	border-spacing: 0;
}
.chroma .hl { /* LineHighlight */
	display: block;
	width: auto;
	background-color: var(--shd);
}
.chroma .c, /* Comment */
.chroma .ch, /* CommentHashbang */
.chroma .cm, /* CommentMultiline */
.chroma .c1, /* CommentSingle */
.chroma .cs, /* CommentSpecial */
.chroma .cp, /* CommentPreproc */
.chroma .cpf, /* CommentPreprocFile */
.hljs-emphasis {
	font-style: italic;
}
.chroma .m, /* LiteralNumber */
.chroma .mb, /* LiteralNumberBin */
.chroma .mf, /* LiteralNumberFloat */
.chroma .mh, /* LiteralNumberHex */
.chroma .mi, /* LiteralNumberInteger */
.chroma .il, /* LiteralNumberIntegerLong */
.chroma .mo, /* LiteralNumberOct */
.chroma .kc, /* KeywordConstant */
.chroma .kt, /* KeywordType */
.chroma .nt, /* NameTag */
.hljs-strong {
	/* font-weight: bold; */
}
.chroma .x, /* Other */
.chroma .err, /* Error */
.chroma .ln,/* LineNumbers */
.chroma .o, /* Operator */
.chroma .p, /* Punctuation */
.chroma .w { /* TextWhitespace */
}
.chroma .kn {/* KeywordNamespace */
	color: var(--y4i);
	font-weight: bold;
}
.chroma .ow { /* OperatorWord */
	color: var(--y4a);
}
.chroma .c, /* Comment */
.chroma .ch, /* CommentHashbang */
.chroma .cm, /* CommentMultiline */
.chroma .c1, /* CommentSingle */
.chroma .cs, /* CommentSpecial */
.chroma .cp, /* CommentPreproc */
.chroma .cpf, /* CommentPreprocFile */
.hljs-comment,
.hljs-quote {
	color: var(--i3i);
}
.chroma .n, /* Name */
.chroma .nc, /* NameClass */
.chroma .nd, /* NameDecorator*/
.chroma .ne, /* NameException */
.chroma .fm, /* NameFunctionMagic */
.chroma .nl, /* NameLabel */
.chroma .nn, /* NameNamespace */
.chroma .nx, /* NameOther */
.chroma .py, /* NameProperty ---*/
.chroma .nt, /* NameTag */
.chroma .nv, /* NameVariable */
.chroma .vc, /* NameVariableClass */
.chroma .vg, /* NameVariableGlobal */
.chroma .vi, /* NameVariableInstance */
.chroma .vm, /* NameVariableMagic */
.hljs-deletion,
.hljs-name,
.hljs-regexp,
.hljs-selector-class,
.hljs-selector-id,
.hljs-tag,
.hljs-template-variable,
.hljs-variable {
	color: var(--k8i);
}
.chroma .nb, /* NameBuiltin */
.chroma .bp, /* NameBuiltinPseudo */
.chroma .l, /* Literal */
.chroma .ld, /* LiteralDate */
.chroma .m, /* LiteralNumber */
.chroma .mb, /* LiteralNumberBin */
.chroma .mf, /* LiteralNumberFloat */
.chroma .mh, /* LiteralNumberHex */
.chroma .mi, /* LiteralNumberInteger */
.chroma .il, /* LiteralNumberIntegerLong */
.chroma .mo, /* LiteralNumberOct */
.hljs-built_in,
.hljs-link,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-params,
.hljs-type {
	color: var(--s8i);
}
.chroma .na, /* NameAttribute */
.hljs-attribute {
	color: var(--t9u);
}
.chroma .s, /* LiteralString */
.chroma .sa, /* LiteralStringAffix */
.chroma .sb, /* LiteralStringBacktick */
.chroma .sc, /* LiteralStringChar */
.chroma .dl, /* LiteralStringDelimiter */
.chroma .sd, /* LiteralStringDoc */
.chroma .s2, /* LiteralStringDouble */
.chroma .se, /* LiteralStringEscape */
.chroma .sh, /* LiteralStringHeredoc */
.chroma .si, /* LiteralStringInterpol */
.chroma .sx, /* LiteralStringOther */
.chroma .sr, /* LiteralStringRegex */
.chroma .s1, /* LiteralStringSingle */
.chroma .ss, /* LiteralStringSymbol */
.hljs-addition,
.hljs-bullet,
.hljs-string,
.hljs-symbol {
	color: var(--y7i);
}
.chroma .no, /* NameConstant */
.chroma .nf, /* NameFunction */
.chroma .ni, /* NameEntity */
.chroma .g, /* Generic */
.chroma .gd, /* GenericDeleted */
.chroma .ge, /* GenericEmph */
.chroma .gr, /* GenericError */
.chroma .gh, /* GenericHeading */
.chroma .gi, /* GenericInserted */
.chroma .go, /* GenericOutput */
.chroma .gp, /* GenericPrompt */
.chroma .gs, /* GenericStrong */
.chroma .gu, /* GenericSubheading */
.chroma .gt, /* GenericTraceback */
.chroma .gl, /* GenericUnderline */
.hljs-section,
.hljs-title {
	color: var(--w8u);
}
.chroma .k, /* Keyword */
.chroma .kc, /* KeywordConstant */
.chroma .kt, /* KeywordType */
.chroma .kd, /* KeywordDeclaration */
.chroma .kp, /* KeywordPseudo */
.chroma .kr, /* KeywordReserved */
.hljs-keyword,
.hljs-selector-tag {
	color: var(--s4n);
}
@media screen and (-ms-high-contrast: active),
screen and (prefers-contrast: more) {
	.hljs *,
	.chroma * {
		color: var(--ink) !important;
		background-color: var(--paper) !important;
	}
	.hljs-keyword,
	.hljs-selector-tag {
		font-weight: 700;
	}
}
@media only screen and (max-width: 640px) {
	table.lntable {
		display: block;
		width: 100%;
		overflow-x: auto;
	}
}
@media print {
	.lntd:first-child * { 
		/* line numbering is not coupled when code break into new line */
		/* display: none; */
	}
}