.list-year {
	display:flex;
	gap: 0;
	align-items: baseline;
	width: 62%;
}
.list-year h3,
.list-year summary,
.list-day li > span {
	font-variant-caps: all-small-caps;
	letter-spacing: 0.1em;
}
.list-year h3,
.list-year summary{
	font-style: normal;
	font-size: 1.272rem;
}
.list-year h3 + div {
	padding-left: 1ex;
}
.list-month {
	margin-bottom: 2rem;
}
.list-day {
	line-height: 1.414;
	padding-left: 1rem !important;
}
.list-day li > span {
	display: block;
	position: relative;
	width: 5rem;
	left: -6.4rem;
	top: 1.618rem;
	text-align: right;
	color: var(--link);
	font-family: var(--sf);
}
.list-day li > a {
	font-style: italic;
	font-size: 1.272rem !important;
}
#list-posts {
	min-height: 62vh;
}
#list-tags {
	display: inline;
}
#list-tags a {
	margin: 0.5ex 0;
}
#list-tags a::before {
	content: "#";
}
#list-categories {
	font-style: italic;
	padding-left: 1em;
}
#list-categories li{
	padding: 0.2ex 0;
}
#list-categories li::marker {
	font: normal 0.8em;
	content: '> ';
}
@media only screen and (max-width: 640px) {
	.list-year {
		width: 100%;
	}
}