{{- $nosidebar := not .Site.Params.Sidebar }}
{{- $nopinned := not .Site.Menus.foot }}
{{- $nofootnote := not .Site.Params.Footnote }}
<footer
	{{- if and $nosidebar $nopinned $nofootnote }}class="clear"
	{{- end -}}
	>
	{{- $split:= and (.IsHome) (.Site.Params.Home.Slider) (.Site.Params.Home.Layoutsplit) }}
	{{- if not .Site.Params.DisableBypassBlock }}
	<a href="{{ if and $split }}#split
		{{- else }}#top{{ end -}}"
		class="inverse footnotesize no-underline"
		aria-label="{{ i18n "backToTop" }}"
		title="{{ i18n "backToTop" }}"
		>
		<span class="ifwide scriptsize ssc sf">{{ i18n "top" }} </span>
		&uArr;
	</a>
	{{- end }}
	{{- with .Site.Menus.foot }}
		<details open 
			class="unmark">
			<summary id="pinnednav"
				class="hide">
				{{- i18n "pinnedNav" -}}:
			</summary>
			<nav aria-labelledby="pinnednav">
				<ul class="unmark"
					role="presentation">
					{{- range . }}
					<li class="{{ .Params.pos }}">
						<a href="{{ .URL }}"
							class="{{ .Params.class }}
								inverse 
								footnotesize 
								no-underline"
							{{- with .Title }}
								title="{{ . }}"
							{{- end }}
							>
							{{- with .Pre }}
							<span class="ifwide">
								{{- . -}}
							</span>
							{{- end }}
							{{- if .Name }}
								{{- .Name }}
							{{- else if .Title }}
								<span class="hide"
									role="presentation">
									{{- .Title -}}
								</span>
							{{- end }}
							{{- with .Post }}
								<i class="icon {{ . }}"
									aria-hidden="true">
								</i>
							{{- end }}
						</a>
					</li>
					{{- end }}
				</ul>
			</nav>
		</details>
	{{- end }}
	{{- with .Site.Params.Footnote }}
		<div id="footinfo"
			class="ldots 
				{{- if and $nosidebar $nopinned }} lfill
				{{- else }} hfill
				{{- end -}}"
			role="contentinfo"
			>
			<hr class="hide"
				style="border-style:dotted;">
			<center>{{ . | safeHTML }}</center>
			<hr class="hide"
				style="border-style:dotted;">
		</div>
	{{- end }}
	{{ partial "ins/toolbar.html" . }}
</footer>