{{- $nosidebar := not .Site.Params.Sidebar }}
{{- $nopinned := not .Site.Menus.foot }}
{{- $nofootnote := not .Site.Params.Footnote }}
{{- $split := and (.IsHome) (.Site.Params.Home.Slider) (.Site.Params.Home.Layoutsplit) }}
{{- $bypassBlock := not .Site.Params.DisableBypassBlock }}
<footer id="bar"
	{{- if and $nosidebar $nopinned $nofootnote }}class="clear"
	{{- end -}}
	>
	{{- if and $bypassBlock .Site.Menus.foot }}
		<details id="pinnednav"  
			class="unmark"
			open>
			<summary
				class="hide">
				{{- i18n "pinnedNav" -}}:
			</summary>
			<nav aria-label="{{ i18n "pinnedNav" }}">
				<ul class="unmark fx"
					role="presentation">
					{{- range .Site.Menus.foot }}
					<li class="{{ .Params.pos }}">
						<a href="{{ .URL }}"
							class="inverse footnotesize 
								{{ .Params.class }}"
							{{- with .Title }}
								title="{{ . }}"
							{{- end }}
							>
							{{- with .Pre }}
							<span class="ifwide">
								{{- . -}}
							</span>
							{{- end }}
							{{- if .Name }}
								{{- .Name }}
							{{- else if .Title }}
								<span class="hide"
									role="presentation">
									{{- .Title -}}
								</span>
							{{- end }}
							{{- with .Post }}
								<i class="icon {{ . }}"
									aria-hidden="true">
								</i>
							{{- end }}
						</a>
					</li>
					{{- end }}
					{{- if $bypassBlock }}
					<li><a href="{{ if $split }}#feed
							{{- else }}#top{{ end -}}"
							class="inverse footnotesize"
							aria-label="{{ i18n "backToTop" }}"
							title="{{ i18n "backToTop" }}"
							id="jump-to"
							>
							<span class="ifwide scriptsize">{{ i18n "top" }} </span>
							&uArr;
						</a>
					</li>
					{{- end }}
				</ul>
			</nav>
		</details>
	{{- end }}
	{{- with .Site.Params.Footnote }}
		<div id="footinfo"
			class="ldots 
				{{- if and $nosidebar $nopinned $bypassBlock }} lfill
				{{- else }} hfill
				{{- end -}}"
			role="contentinfo"
			>
			<center>
				{{ . | safeHTML }}
			</center>
		</div>
	{{- end }}
	{{ partial "ins/toolbar.html" . }}
</footer>