{{- $nosidebar := not .Site.Params.Sidebar }}
{{- $nopinned := not .Site.Menus.foot }}
{{- $nofootnote := not .Site.Params.Footnote }}
<footer
	{{- if and $nosidebar $nopinned $nofootnote }}class="clear"
	{{- end -}}
	>
	{{- if .Site.Params.sidebar }}{{ partial "ins/sidebar.html" . }}
	{{- end }}
	{{- with .Site.Menus.foot }}
		<details class="unmark"
			open >
		<summary id="pinnednav"
			class="hide">
			{{- i18n "pinnedNav" -}}
		</summary>
			<nav aria-labelledby="pinnednav">
				<ul class="unmark"
					role="presentation">
					{{- range . }}
					<li><a href="{{ .URL }}"
							class="no-underline {{ .Params.Class }}" 
							{{- with .Title }}
								aria-label="{{ . -}}"
								title="{{ . -}}"
							{{- end -}}
							>
							{{- .Pre }}
							{{- .Name }}
							{{- if .Post }}{{ .Post }}
							{{- else }}
								<span class="hide">
									{{ .Title }}
								</span>
							{{- end -}}
						</a>
					</li>
					{{- end }}
				</ul>
			</nav>
		</details>
	{{- end }}
	{{- with .Site.Params.Footnote }}
		<div id="footinfo"
			class="ldots 
				{{- if and $nosidebar $nopinned }} lfill
				{{- else }} hfill
				{{- end -}}"
			role="contentinfo"
			>
			<hr class="hide"
				style="border-style:dotted;">
			<center>{{ . | safeHTML }}</center>
			<hr class="hide"
				style="border-style:dotted;">
		</div>
	{{- end }}
	{{ partial "ins/toolbar.html" . }}
</footer>