{{- if .IsHome }}
	{{- if .Site.Params.Home.Slider }}
		{{- $home := .Paginate ( where .Site.RegularPages "Type" "post" ) }}
		{{- if not $home.HasPrev }}
			{{- partial "nav.html" . }}
			<header class="noprint slider"
				aria-labelledby="banner">
				<section id="content" 
					class="slides" 
					data-bionRead-safe
					>
					{{ partial "custom/landing.html" . -}}
				</section>
			</header>
		{{ else }}
			{{- partial "nav.html" . }}
		{{- end }}
	{{- else -}}
		{{- if not .Site.Params.Home.AuthorCard }}
		<header class="noprint 
			{{- if .Site.Params.Home.Bannercentering }} centering
			{{- end }}"
			aria-labelledby="banner"
			aria-describedby="tagline">
			<h1 id="banner"
				style="margin-bottom:0;">
				<a href="/" 
					class="plain"
					title="{{ i18n "home" }}"
					>
					{{- if .Site.Params.Home.Banner }}{{ .Site.Params.Home.Banner | safeHTML }}
					{{- else if .Site.Title }}{{ .Site.Title }}
					{{- end -}}
				</a>
			</h1>
			<h2 id="tagline">
				{{ .Site.Params.Home.Tagline | safeHTML }}
			</h2>
		</header>
		{{- end }}
		{{- partial "nav.html" . }}
	{{- end }}
{{- else }}
	{{- partial "nav.html" . }}
	{{- partial "ins/breadcrumbs.html" . -}}
{{- end }}