<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{- $term := eq .Kind "term" }}
{{- $title := print .Title " | " .Site.Title }}
	{{- if .IsHome }}{{ $title = .Site.Title }}{{ end }}
{{- $desc := .Description }}
	{{- if .Summary }}{{ $desc = .Summary }}
	{{- else if  .Params.Subtitle }}{{ $desc = .Params.Subtitle }}
	{{- else if and .IsHome .Site.Params.Description }}{{ $desc = .Site.Params.Description }}
	{{- else if or .IsSection $term }}{{ $desc = $title }}
	{{- end }}
{{- $getCover := .Resources.GetMatch "cover.*" }}	
{{- $cover := .Params.Cover }}
	{{- if $getCover }}{{ $cover = $getCover.Permalink }}
	{{- else if and .IsHome .Site.Params.Home.Banner }}{{ $cover := .Site.Params.Home.Banner }}
	{{- end }}
<title>{{ $title }}</title>
<meta name="author" content="{{ if .Params.author }}{{ .Params.author }}{{ else if .Site.Params.author}}{{ .Site.Params.author }}{{ end }}">
<meta name="description" content="{{ $desc }}" >
<meta name="keywords" content="
	{{- if .IsHome }}{{ i18n "home" -}}
	{{- else if .IsSection }}{{ i18n "archive" }}, {{ i18n "category" }}, {{ i18n "tag" }}, {{ i18n "post" -}}
	{{- else if $term }}{{ .Page.Title -}}
	{{- else if .Params.keywords }}{{ with .Params.keywords }}{{ delimit . ", " }}{{ end -}}
	{{- else }}{{ with .Params.tags }}{{ delimit . ", " }}{{ end -}}
	{{- end -}}" >
<link rel="canonical" href="{{ .Permalink }}" >
{{- if .Site.Params.OptInSocialMeta }}
<meta property="og:url" content="{{ .Permalink }}" >
<meta property="og:locale" content="{{ .Site.LanguageCode }}" >
<meta property="og:site_name" content="{{ .Site.Title }}" >
<meta property="og:title" content="{{ $title }}" >
<meta property="og:description" content="{{ $desc }}" >
{{- if .IsPage }}<meta property="og:type" content="article" >{{ end }}
{{- with $cover }}
<meta property="og:image" content="{{ . }}" >	
<meta name="twitter:image" content="{{ . }}" >
<meta name="twitter:card" content="summary_large_image" >
{{- else }}
<meta name="twitter:card" content="summary" >
{{- end }}
<meta name="twitter:title" content="{{ $title }}" >
<meta name="twitter:description" content="{{ $desc }}" >
{{- with .Site.Params.Profile.Twitter }}
<meta name="twitter:site" content="{{ . }}" >
<meta name="twitter:creator" content="{{ . }}" >
{{- end }}
{{- end }}
{{/*  <base href="{{ .Site.BaseURL }}">  */}}