{{- $home := absLangURL "" -}}
<nav class="ssc sans normalsize" >
	{{- with .Site.Menus.main }}
	{{- range . }}
	<a href="{{ if .Params.IsBanner }}{{ $home }}{{ else }}{{ .URL }}{{ end }}" class="no-underline ssc {{ if .Params.IsBanner }}reverse{{ else }}inverse{{ end }} {{ .Params.class }}"
		{{- if .Title }} aria-label="{{ .Title }}" title="{{ .Title }}" {{ end }}
		{{- if .Params.IsBanner }} id="banner" {{ end -}}>
		{{- .Pre }}{{ .Name }}{{ .Post -}}
		</a>
		<br class="hide">
	{{- end }}
	{{- end }}
</nav>