<nav aria-label="{{ i18n "contactNav" }}">
	<ul class="unmark small smallskip"
		role="presentation">
		{{- range .Site.Menus.social }}
		<li class="{{ .Params.pos }}">
			<a href="{{ .URL }}"
				class="{{ .Params.class }} 
					small
					inverse"
				{{- with .Title }}
					title="{{ . }}"
				{{- end }}
				>
				{{- with .Pre }}
					<i class="icon {{ . }}"
						aria-hidden="true">
					</i>
				{{- end }}
				{{- if .Name }}
					<span>{{- .Name }}</span>
				{{- else if .Title }}
					<span class="hide"
						role="presentation">
						{{- .Title -}}
					</span>
				{{- end }}
				{{- with .Post }}
				<span class="ifwide">
					{{- . -}}
				</span>
				{{- end }}
			</a>
		</li>
		{{- end }}
		{{- with .Site.Params.Author.Email }}
		<li><a href="mailto:{{ . }}"
				class="small inverse" 
				aria-label="email"
				title="email"
				>
				<i class="icon email"></i>
				<span class="hide"
					role="presentation">
					{{- . -}}
				</span>
			</a>
		</li>
		{{- end }}
	</ul>
</nav>