{{- $feed := .Paginate ( where .Site.RegularPages "Type" "post" ) }}
{{- if not $feed.HasPrev }}
{{- if .Site.Params.Home.Slider }}
{{- $carousellSty := resources.Get "css/ethd--go-carousell.css" -}}
{{- $carousellMin := $carousellSty | resources.Minify }}
<link rel="stylesheet" type="text/css" href="{{ $carousellMin.Permalink }}">
{{- end }}
<style>
	a#banner {
		display: none;
	}
	#tagline {
		margin: 0 0 3rem;
		font-size: 1.414rem;
	}
	.floating {
		animation: float 5s ease-in-out infinite;
		-webkit-animation: float 5s ease-in-out infinite;
	}
	@keyframes float {
		0% {transform: translatey(0);}
		50% {transform: translatey(16%);}
		100% {transform: translatey(0);}
	}
	@-webkit-keyframes float {
		0% {transform: translatey(0);}
		50% {transform: translatey(16%);}
		100% {transform: translatey(0);}
	}
	.slides > div,
	.slides > section {
		height: calc(100vh - 6.2rem);
		justify-content: flex-start;
		overflow-y: auto;
	}
	.slides section > div {
		margin-bottom: 5rem;
	}
	.slides p {
		font-size: 1.144rem;
	}
</style>
{{- if and .Site.Params.Home.Layoutsplit .Site.Params.Home.Slider }}
<style>
	#split {
		max-width: 4096px;
		width: 100vw;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		overflow-y: hidden;
		justify-content: center;
	}
	#split > * {
		flex: 1 1 50%;
	}
	#split > nav {
		overflow-y: hidden;
		padding: 0 2.5%;
		flex-basis: 100%;
	}
	#split #banner {
		display: initial !important;
	}
	#split > header {
		height: calc(100vh - 5.1rem);
		max-width: 1440px;
	}
	#split .slides > * {
		height: calc(100vh - 6.1rem);
	}
	#split > #main-panel {
		height: calc(100vh - 5.1rem);
		max-width: 1024px;
		overflow-y: auto;
		overflow-x: hidden;
	}
	#split > #main-panel > * {
		padding: 0 6.18%;
	}
	#split > #main-panel::-webkit-scrollbar {
		display: none !important;
	}
	#split #headline img {
		flex-basis: auto;
	}
	#split > footer {
		flex-basis: 100%;
		padding: 0 0.618rem;
	}
	@media only screen and (max-width: 640px) {
		#split #mainfooter {
			padding: 1rem !important;
		}
		#split #mainfooter section {
			max-width: 90%;
		}
	}
	@media only screen and (max-width: 1024px) {
		#split {
			flex-direction: column !important;
			height: unset !important;
			overflow-y: auto !important;
			margin: 0 !important;
			padding: 0 !important;
		}
		#split > #main-article {
			overflow: clip !important;
			background-color: unset;
		}
	}
	@media only screen and (min-width: 1024px) {
		#split > #main-panel {
			position: relative;
		}
	}
	@media only screen and (min-width: 2464px) {
		#split > nav {
			backdrop-filter: blur(2rem);
		}
	}
</style>
{{- end }}
{{- end }}