<article id="main-article" aria-labelledby="Title" data-bionRead-safe>
	<header aria-labelledby="Title">
		<h1 id="Title">{{ .Title }}</h1>
		{{- $cover := .Resources.GetMatch "cover.*" }}
		{{- if .Params.Cover }}
			<img alt="{{ i18n "featuredImg" }} {{ .Title }}"
				src="{{ .Params.Cover }}">
		{{- else if $cover }}
			<img alt="{{ i18n "featuredImg" }} {{ .Title }}"
				src="{{ $cover.Permalink }}">
		{{- end }}
	</header>
	{{ partial "ins/audio.html" . }}
	<section id="content">
	{{- if or .Params.task .Site.Params.Post.enableCheckbox }}
		{{ replace .Content "disabled=" "" | safeHTML }}
	{{- else }}
		{{ .Content }}
	{{- end }}
	</section>
</article>

{{ partial "ins/social-share.html" . -}}